{% load static %}

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ffffcc;"> 
  <a class="navbar-brand" href="/">Ask Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Поиск..." aria-label="Поиск">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>
    <a class="btn btn-success my-2 my-sm-0" href="/ask/" role="button" style="margin-left: 20px">Новый вопрос</a>
    <a href="/hot/" class="btn btn-danger my-2 my-sm-0" style="margin-left: 5px">🔥</a>
    <div class="col">
    </div>
    <div class="col-md-3">
      {% include "subtemplates/bar_logged.html" %}
    </div>
  </div>
</nav>