{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  {% include "subtemplates/question_body.html" %}
</div>
{% if answers %}
{% for answer in answers %}
  <div class="row question-list-item">
    {% include "subtemplates/answer_body.html" %}
  </div>
  {% endfor %}
{% else %}
	<div class="row question-list-item justify-content-center">Еще никто не ответил на вопрос.</div>
{% endif %}

<form>
  <div class="col" style="margin-top: 40px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 20px">
    <textarea class="form-control form-margin" id="inputAnswer" rows="3" placeholder="Введите свой ответ"></textarea>
    <div class="row justify-content-end" style="padding-right: 15px;">
     <button class="btn btn-success" type="submit">Ответить</button>
   </div>
 </div>
</form>
{% endblock %}

