{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="title">
  <h1>Настройки: username</h1>
</div>
<div class="question-list-item">


</div>

{% endblock %}

{% block login %}
<div class="row nopadding">
  <div class="col-md-auto nopadding" style="margin-bottom: 0px"><img src="{% static "img/lorem.jpg" %}" alt="123" width=45px height=45px display:block></img></div>
  <div class="col">username <br>
  <a href="/settings/">настройки</a>
  <a href="">выйти</a></div>
  
</div>
{% endblock %}
